<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>QQ</string>
		<key>bundleId</key>
		<string>com.tencent.mqq</string>
		<key>jumpUrl</key>
		<string>mqq://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>微信</string>
		<key>bundleId</key>
		<string>com.tencent.xin</string>
		<key>jumpUrl</key>
		<string>weixin://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>QQ音乐</string>
		<key>bundleId</key>
		<string>com.tencent.QQMusic</string>
		<key>jumpUrl</key>
		<string>qqmusic://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>淘宝</string>
		<key>bundleId</key>
		<string>com.taobao.taobao4iphone</string>
		<key>jumpUrl</key>
		<string>taobao://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>抖音</string>
		<key>bundleId</key>
		<string>com.ss.iphone.ugc.Aweme</string>
		<key>jumpUrl</key>
		<string>snssdk1128://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>快手</string>
		<key>bundleId</key>
		<string>com.jiangjia.gif</string>
		<key>jumpUrl</key>
		<string>gifshow://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>高德地图</string>
		<key>bundleId</key>
		<string>com.autonavi.amap</string>
		<key>jumpUrl</key>
		<string>iosamap://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>网易云音乐</string>
		<key>bundleId</key>
		<string>com.netease.cloudmusic</string>
		<key>jumpUrl</key>
		<string>orpheus://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>微博</string>
		<key>bundleId</key>
		<string>com.sina.weibo</string>
		<key>jumpUrl</key>
		<string>sinaweibo://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美颜相机</string>
		<key>bundleId</key>
		<string>com.meitu.myxj</string>
		<key>jumpUrl</key>
		<string>wx4cba531f924ca13f://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>和平精英</string>
		<key>bundleId</key>
		<string>com.tencent.tmgp.pubgmhd</string>
		<key>jumpUrl</key>
		<string>itlogin-JSMahjong://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>王者荣耀</string>
		<key>bundleId</key>
		<string>com.tencent.smoba</string>
		<key>jumpUrl</key>
		<string>tencentlaunch1104466820://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>拼多多</string>
		<key>bundleId</key>
		<string>com.xunmeng.pinduoduo</string>
		<key>jumpUrl</key>
		<string>pinduoduo://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>小猿搜题</string>
		<key>bundleId</key>
		<string>com.fenbi.solar</string>
		<key>jumpUrl</key>
		<string>solar://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>钉钉</string>
		<key>bundleId</key>
		<string>com.laiwang.DingTalk</string>
		<key>jumpUrl</key>
		<string>dingtalk://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>腾讯会议</string>
		<key>bundleId</key>
		<string>com.tencent.meeting</string>
		<key>jumpUrl</key>
		<string>wemeet://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>UC浏览器</string>
		<key>bundleId</key>
		<string>com.ucweb.iphone.lowversion</string>
		<key>jumpUrl</key>
		<string>ucbrowser://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美团</string>
		<key>bundleId</key>
		<string>com.meituan.imeituan</string>
		<key>jumpUrl</key>
		<string>imeituan://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>腾讯微视</string>
		<key>bundleId</key>
		<string>com.tencent.microvision</string>
		<key>jumpUrl</key>
		<string>weishiiosscheme://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>饿了么</string>
		<key>bundleId</key>
		<string>me.ele.ios.eleme</string>
		<key>jumpUrl</key>
		<string>eleme://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>支付宝</string>
		<key>bundleId</key>
		<string>com.alipay.iphoneclient</string>
		<key>jumpUrl</key>
		<string>alipay://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>剪映</string>
		<key>bundleId</key>
		<string>com.lemon.lv</string>
		<key>jumpUrl</key>
		<string>videocut://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美图秀秀</string>
		<key>bundleId</key>
		<string>com.meitu.mtxx</string>
		<key>jumpUrl</key>
		<string>mtxx://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>轻颜相机</string>
		<key>bundleId</key>
		<string>com.light.beauty</string>
		<key>jumpUrl</key>
		<string>ulike://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Soul</string>
		<key>bundleId</key>
		<string>com.soulapp.cn</string>
		<key>jumpUrl</key>
		<string>soul://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>moo日记</string>
		<key>bundleId</key>
		<string>com.youloft.mooddiary</string>
		<key>jumpUrl</key>
		<string>moodiary://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>喵喵记账</string>
		<key>bundleId</key>
		<string>com.youqi.miaomiao</string>
		<key>jumpUrl</key>
		<string>miaomiao://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>京东</string>
		<key>bundleId</key>
		<string>com.360buy.jdmobile</string>
		<key>jumpUrl</key>
		<string>openapp.jdmobile://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>得物（毒）</string>
		<key>bundleId</key>
		<string>com.siwuai.duapp</string>
		<key>jumpUrl</key>
		<string>duapp://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>知乎</string>
		<key>bundleId</key>
		<string>com.zhihu.ios</string>
		<key>jumpUrl</key>
		<string>zhihu://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>豆瓣阅读</string>
		<key>bundleId</key>
		<string>com.douban.read.iphone</string>
		<key>jumpUrl</key>
		<string>douban-read://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>优酷</string>
		<key>bundleId</key>
		<string>com.youku.YouKu</string>
		<key>jumpUrl</key>
		<string>youku://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>芒果Tv</string>
		<key>bundleId</key>
		<string>com.hunantv.imgotv</string>
		<key>jumpUrl</key>
		<string>wx452924392e7fc5a7://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>爱奇艺</string>
		<key>bundleId</key>
		<string>com.qiyi.iphone</string>
		<key>jumpUrl</key>
		<string>iqiyi://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>哔哩哔哩</string>
		<key>bundleId</key>
		<string>tv.danmaku.bilianime</string>
		<key>jumpUrl</key>
		<string>bilibili://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>百度网盘</string>
		<key>bundleId</key>
		<string>com.baidu.netdisk</string>
		<key>jumpUrl</key>
		<string>baiduyun://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>韩剧Tv</string>
		<key>bundleId</key>
		<string>com.shbytech.hanjulite</string>
		<key>jumpUrl</key>
		<string>hanjulite://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>腾讯视频</string>
		<key>bundleId</key>
		<string>com.tencent.live4iphone</string>
		<key>jumpUrl</key>
		<string>tenvideo://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>迅雷</string>
		<key>bundleId</key>
		<string>com.xunlei.mvideo</string>
		<key>jumpUrl</key>
		<string>xunlei://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>小红书</string>
		<key>bundleId</key>
		<string>com.xingin.discover</string>
		<key>jumpUrl</key>
		<string>wxd8a2750ce9d46980://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>唱吧</string>
		<key>bundleId</key>
		<string>com.changba.ktv</string>
		<key>jumpUrl</key>
		<string>changba://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>飞书</string>
		<key>bundleId</key>
		<string>com.bytedance.ee.lark</string>
		<key>jumpUrl</key>
		<string>lark://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>QQ邮箱</string>
		<key>bundleId</key>
		<string>com.tencent.qqmail</string>
		<key>jumpUrl</key>
		<string>qqmail://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>今日头条</string>
		<key>bundleId</key>
		<string>com.ss.iphone.article.News</string>
		<key>jumpUrl</key>
		<string>snssdk141://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>虎牙直播</string>
		<key>bundleId</key>
		<string>com.yy.kiwi</string>
		<key>jumpUrl</key>
		<string>yykiwi://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Faceu激萌</string>
		<key>bundleId</key>
		<string>com.lemon.faceu</string>
		<key>jumpUrl</key>
		<string>faceu://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>B612咔叽</string>
		<key>bundleId</key>
		<string>com.campmobile.snowcamera</string>
		<key>jumpUrl</key>
		<string>b612cn://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>QQ浏览器</string>
		<key>bundleId</key>
		<string>com.tencent.mttlite</string>
		<key>jumpUrl</key>
		<string>mqqbrowser://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>全民K歌</string>
		<key>bundleId</key>
		<string>com.tencent.QQKSong</string>
		<key>jumpUrl</key>
		<string>qmkege://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>酷我音乐</string>
		<key>bundleId</key>
		<string>com.yeelion.kwplayer</string>
		<key>jumpUrl</key>
		<string>com.kuwo.kwmusic.kwmusicForKwsing://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>酷狗音乐</string>
		<key>bundleId</key>
		<string>com.kugou.kugou1002</string>
		<key>jumpUrl</key>
		<string>kugouURL://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>夸克</string>
		<key>bundleId</key>
		<string>com.quark.browser</string>
		<key>jumpUrl</key>
		<string>quark://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>脉脉</string>
		<key>bundleId</key>
		<string>com.taou.NeiTui</string>
		<key>jumpUrl</key>
		<string>maimai://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>黄油相机</string>
		<key>bundleId</key>
		<string>chenxingyuan.GourmetCam</string>
		<key>jumpUrl</key>
		<string>wb1176522257://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>斗鱼</string>
		<key>bundleId</key>
		<string>tv.douyu.live</string>
		<key>jumpUrl</key>
		<string>douyutv://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>QQ同步助手</string>
		<key>bundleId</key>
		<string>com.tencent.QQPim</string>
		<key>jumpUrl</key>
		<string>qqpim://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>百度贴吧</string>
		<key>bundleId</key>
		<string>com.baidu.tieba</string>
		<key>jumpUrl</key>
		<string>com.baidu.tieba://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>百度地图</string>
		<key>bundleId</key>
		<string>com.baidu.map</string>
		<key>jumpUrl</key>
		<string>bdmap://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>TIM</string>
		<key>bundleId</key>
		<string>com.tencent.tim</string>
		<key>jumpUrl</key>
		<string>tim://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>醒图</string>
		<key>bundleId</key>
		<string>com.xt.retouch</string>
		<key>jumpUrl</key>
		<string>lkfb1k4qnjl0wz2xaa://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>大众点评</string>
		<key>bundleId</key>
		<string>com.dianping.dpscope</string>
		<key>jumpUrl</key>
		<string>dianping://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>闲鱼</string>
		<key>bundleId</key>
		<string>com.taobao.fleamarket</string>
		<key>jumpUrl</key>
		<string>fleamarket://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>喜马拉雅</string>
		<key>bundleId</key>
		<string>com.gemd.iting</string>
		<key>jumpUrl</key>
		<string>iting://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>倒数321</string>
		<key>bundleId</key>
		<string>com.youqi.NewDays</string>
		<key>jumpUrl</key>
		<string>newdays://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>网易邮箱大师</string>
		<key>bundleId</key>
		<string>com.netease.mailmaster</string>
		<key>jumpUrl</key>
		<string>neteasemail://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>菜鸟</string>
		<key>bundleId</key>
		<string>com.cainiao.cnwireless</string>
		<key>jumpUrl</key>
		<string>cainiao://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>企业微信</string>
		<key>bundleId</key>
		<string>com.tencent.ww</string>
		<key>jumpUrl</key>
		<string>wxwork://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>WPS Office</string>
		<key>bundleId</key>
		<string>com.kingsoft.www.office.wpsoffice</string>
		<key>jumpUrl</key>
		<string>com.kingsoft.www.office.wpsoffice://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>交管12123</string>
		<key>bundleId</key>
		<string>com.tmri.12123</string>
		<key>jumpUrl</key>
		<string>tmri12123://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>铁路12306</string>
		<key>bundleId</key>
		<string>cn.12306.rails12306</string>
		<key>jumpUrl</key>
		<string>trainassist://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>航旅纵横</string>
		<key>bundleId</key>
		<string>com.travelsky.umetrip</string>
		<key>jumpUrl</key>
		<string>sinaweibosso.umetrip://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>飞猪旅行</string>
		<key>bundleId</key>
		<string>com.taobao.travel</string>
		<key>jumpUrl</key>
		<string>taobaotravel://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>美团外卖</string>
		<key>bundleId</key>
		<string>com.meituan.itakeaway</string>
		<key>jumpUrl</key>
		<string>meituanwaimai://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>企查查</string>
		<key>bundleId</key>
		<string>com.ioubo.ienterprise</string>
		<key>jumpUrl</key>
		<string>QiChaCha://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>花椒直播</string>
		<key>bundleId</key>
		<string>com.huajiao.seeding</string>
		<key>jumpUrl</key>
		<string>huajiao://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>墨迹天气</string>
		<key>bundleId</key>
		<string>com.moji.MojiWeather</string>
		<key>jumpUrl</key>
		<string>rm434209233MojiWeather://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>阿里巴巴</string>
		<key>bundleId</key>
		<string>com.alibaba.wireless</string>
		<key>jumpUrl</key>
		<string>wireless1688://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>58同城</string>
		<key>bundleId</key>
		<string>com.taofang.iphone</string>
		<key>jumpUrl</key>
		<string>wbmain://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>去哪儿旅行</string>
		<key>bundleId</key>
		<string>com.qunar.iphoneclient8</string>
		<key>jumpUrl</key>
		<string>qunarphone://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>唯品会</string>
		<key>bundleId</key>
		<string>com.vipshop.iphone</string>
		<key>jumpUrl</key>
		<string>vipshop://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>携程旅行</string>
		<key>bundleId</key>
		<string>ctrip.com</string>
		<key>jumpUrl</key>
		<string>CtripWireless://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>网易新闻</string>
		<key>bundleId</key>
		<string>com.netease.news</string>
		<key>jumpUrl</key>
		<string>newsapp://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>搜狐视频</string>
		<key>bundleId</key>
		<string>com.sohu.iPhoneVideo</string>
		<key>jumpUrl</key>
		<string>sohuvideo-iphone://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>小米运动</string>
		<key>bundleId</key>
		<string>com.xiaomi.miwatch.pro</string>
		<key>jumpUrl</key>
		<string>fb370547106731052://</string>
	</dict>
	<dict>
		<key>appName</key>
		<string>Keep</string>
		<key>bundleId</key>
		<string>com.gotokeep.keep</string>
		<key>jumpUrl</key>
		<string>keep://</string>
	</dict>
</array>
</plist>
